/*******************
 CSS RESET ********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*******************
 GLOBAL CSS *******/

html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #737373;
}

li {
  list-style: none;
}

.text-green {
  color: #96bb7c;
}

.text-gray {
  color: #737373;
}

.bg-green {
  background-color: #96bb7c;
}

.bg-orange {
  background-color: #e74040;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 20px;
}

.green-button {
  padding: 10px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
}

/*******************
 HEADER SECTION ***/

header>div {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

header>div a:hover {
  background-color: #bbb;
  border-radius: 3px;
  color: black;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0px;
  background-color: #ffffff;
}

header>div>div>a {
  font-size: 2rem;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/*******************
 HERO SECTION *****/

.left-1 {
  width: 30%;
  padding: 100px 0px;
  row-gap: 20px;
}

.left-1 div:last-child {
  border: 2px solid #96bb7c;
  border-radius: 3px;
  padding: 10px;
}

.right-1 {
  position: relative;
  /* z-index: 10; */
  width: 60%;
  padding: 100px 0px;
}

.img1 {
  position: absolute;
  z-index: 12;
  top: -120px;
  left: 400px;
  height: 400px;
  width: 330px;
}

.img2 {
  position: absolute;
  z-index: 13;
  top: -50px;
  left: 280px;
  width: 400px;
  height: 300px;
}

.img3 {
  position: absolute;
  z-index: 14;
  top: -70px;
  left: 340px;
  width: 400px;
}

.img4 {
  position: absolute;
  z-index: 15;
  top: -125px;
  left: 330px;
  width: 400px;
}

.img5 {
  position: absolute;
  z-index: 16;
  top: -70px;
  left: 370px;
  width: 40px;
}

/*******************
 CARD SECTION *****/

#card-section {
  position: relative;
  top: -90px;
  bottom: 0;
  z-index: 16;
}

#card-section>div {
  justify-content: space-between;
}

.card-box {
  display: flex;
  width: 320px;
  flex-direction: column;
  row-gap: 20px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.icon-box {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.divider {
  height: 2px;
  width: 70px;
}

/*************************
 COUNT SECTION  *********/

#count-section {
  background-color: #ffffff;
  padding: 50px 0px;
}

#count-section>div {
  justify-content: space-between;
}

.count-box {
  text-align: center;
  /* width: 220px; */
}

.card-box h2 {
  margin-bottom: 10px;
}

/*****************************
EVERY-MASTER-SECTION *******/

#every-master {
  background-color: #ffffff;
  height: 80vh;
}

.left-2 {
  padding-top: 200px;
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.left-2 button {
  padding: 10px;
  border: none;
  width: 120px;
  background-color: #ffffff;
}

.right-2 {
  position: relative;
  width: 60%;
}

.chiled-1 {
  position: absolute;
  z-index: 20;
  top: -300px;
  left: 650px;
  height: 347px;
  width: 337px;
}

.chiled-2 {
  position: absolute;
  z-index: 21;
  top: -350px;
  left: 700px;
  height: 400px;
  width: 376px;
}

.chiled-3 {
  position: absolute;
  z-index: 23;
  top: -50px;
  left: 700px;
  height: 110px;
  width: 362px;
}

.chiled-4 {
  position: absolute;
  z-index: 24;
  top: -300px;
  left: 930px;
  height: 150px;
  width: 150px;
}

.chiled-5 {
  position: absolute;
  z-index: 25;
  top: -300px;
  left: 600px;
  height: 53px;
  width: 53px;
  border-radius: 21px;
}

.chiled-6 {
  position: absolute;
  z-index: 26;
  top: 5px;
  left: 635px;
  height: 34px;
  width: 58px;
  border-radius: 11px;
}

/***********************
TEACHER-SECTION *******/

#teacher {
  height: 120vh;
  background-color: #fff2f3;
}

.top-1 {
  padding-top: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.bottom-1 {
  width: 95%;
  justify-content: space-between;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.teacher-box {
  width: 200px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.teacher-box-par-2 {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  background-color: #ffffff;
  padding: 10px 10px;
}

.teacher-box img {
  width: 250px;
}

.space {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 230px;
}

.space>img {
  width: 30px;
}

.h5 {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  color: #bdbdbd;
}

.text-orange {
  color: #ffab71;
}

.teacher-box button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid;
  background-color: #ffffff;
  width: 150px;
}

/*****************************
EVERY-CLIENT-SECTION  *******/

#every-client {
  height: 100vh;
  background-color: #ffffff;
}

.top-2 {
  padding-top: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.bottom-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-box {
  padding-top: 100px;
  text-align: center;
  width: 200px;
}

.client-img {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h5-h6 {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  flex-direction: column;
}

/*****************************
PERSONAL-CLIENT-SECTION  *******/

#personal-client {
  height: 100vh;
  background-color: #ffffff;
}

.top-3 {
  padding-top: 50px;
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.bottom-3 {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.personal-card>img {
  width: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.personal-card {
  border-radius: 20px;
  width: 250px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.icon-per-card {
  width: 250px;
  text-align: center;
  display: flex;
  padding: 30px 0px;
  flex-wrap: wrap;
  flex-direction: column;
}

.per-img {
  width: 250px;
  text-align: center;
}

/***************************
NEWSLATTER-SECTION  *******/

#newslatter-section {
  height: 60vh;
  background-color: #ffffff;
}

#newslatter-section>div {
  text-align: center;
}

.news-latter {
  padding-top: 70px;
  width: 100%;
  text-align: center;
}

.news {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 250px;
  gap: 10px;
}

.sec {
  display: flex;
}

.news input {
  width: 400px;
  padding: 20px;
  border: 1px solid #96bb7c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.news button {
  width: 150px;
  padding: 20px;
  color: #ffffff;
  border: 1px solid #96bb7c;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/***************************
FOOTER-SECTION  *******/

#footer-section {
  height: 40vh;
}

.footer-data {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.footer-data div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  /* justify-content: space-between; */
}

.footer-last {
  background-color: #ffffff;
  margin-bottom: -50px;
  width: 100%;
}

.footer-last>div {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}